body {background-color: #e0fbfc;}

.header {
    font-family: 'Knewave', cursive;
    font-size: 75px; 
    font-weight: bold; 
    text-align: center;
    color: #293241;
  }

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Knewave', cursive;
  }

  .container button {
    font-family: 'Funnel Display', cursive;
    font-size: 27px; 
    min-width: 300px;
    width: auto;
    font-weight: bold;
    padding: 17px 35px; 
    background-color: #3d5a80;
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);

    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
  }
  
  .container button:hover {
    background-color: #98c1d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }

  @media (max-width: 768px) {
    .header {
      font-size: 50px; 
    }
  
    .container {
      font-size: 35px; 
      flex-direction: column;
      text-align: center;
    }
  
    .container button {
      min-width: 300px;
      padding: 12px 25px;
      font-size: 22px;
    }
  }
  
  /* Mobile */
  @media (max-width: 480px) {
    .header {
      font-size: 45px;
    }
  
    .container {
      font-size: 25px;
      flex-direction: column;
    }
  
    .container button {
      min-width: 280px;
      padding: 10px 20px;
      font-size: 18px;
    }
  }